
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background-color: #f4f3fc; */
}

.navbar {
    background: white;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.breadcrumbs a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    margin-right: 5px;
}

.breadcrumbs span {
    margin: 0 5px;
    color: #999;
}

.searchBar {
    width: 400px;
    display: flex;
    align-items: center;
}

.searchIcon {
    position: relative;
    width: 100%;
}

.searchIcon input {
    width: 100%;
    padding: 10px 16px 10px 36px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

.searchIcon::before {
    content: '\F52A';
    position: absolute;
    left: 12px;
    top: 8px;
    font-size: 16px;
    color: #555;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}

.profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profileCircle {
    width: 36px;
    height: 36px;
    background-color: #fbbc04;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #000;
}

.profileInfo {
    font-size: 13px;
}

.profileInfo small {
    color: #555;
    font-size: 14px;
}
.profileInfo b{
    font-weight: 800;
    color: black;
}

.sidebar {
    width: 300px;
    padding: 16px;
    display: flex;
    gap:10px;
    justify-content: center;
}

.createButton {
    width: 100%;
    padding: 12px;
    background-color: #8a2be2;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

.proCard {
    background-color: white;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 20px;
    font-size: 13px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.proTitle {
    font-weight: 600;
    color: #222;
    margin-bottom: 6px;
}

.proBtn {
    background: none;
    border: 1px solid #ccc;
    padding: 6px 12px;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
}

.createNav{
    width: 50%;
}
.nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.nav a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    transition: background 0.2s;
}

.nav a:hover {
    background-color: #eae6ff;
}

.active {
    background-color: white;
    font-weight: 600;
}